:root {
	--Iris-color: #4D5AE5;
	--OCEAN-color:#404BBF;
	--Navyblue-color: #2E2F42;
	--SLATE-color: #434455;
	--white-color: #ffffff;
	--mybtn-text-color: #f4f4fd;
	--cornflower-color: #e7e9fc;
}
body {
	font-family: "Roboto", "Raleway";
	color: var(--SLATE-color);
	background-color:var(---color);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }

.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
.link:hover {
	color: var(--OCEAN-color);
}

.mybtn:hover {
	color: var(--white-color);
	background: var(--OCEAN-color);
}
.mybtn-text:hover {
	color: var(--white-color);
}

.nav-logo {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--Iris-color);
}
.nav-logo-studio {
	color: var(--Navyblue-color);
}
.nav-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: var(--Navyblue-color);
}
.nav-mail {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--SLATE-color);
}
.nav-call {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--SLATE-color);
}
/*
(\_/)
( •.•)
/ >s1
*/
.hero {
	background: var(--Navyblue-color);
}
.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 60px;
	color: var(--white-color);
}
.hero-icon {
	font-family: "Roboto";
	background: var(--Iris-color);
	cursor: pointer;
}
.hero-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: var(--white-color);
}
/*
(\_/)
( •.•)
/ >s2
*/
.about {
}
.about-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--Navyblue-color);
}
.about-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
/*
(\_/)
( •.•)
/ >s3
*/
.meta {
}
.meta-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	color: var(--Navyblue-color);
}
.meta-mind {
}
.meta-img {
}
/*
(\_/)
( •.•)
/ >s4
*/
.midl {
	background: var(--mybtn-text-color);
}
.midl-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	color: var(--Navyblue-color);
}
.midl-mind {
}
.midl-card {
	background: var(--white-color);
}
.midl-img {
}
.midl-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--Navyblue-color);
}
.midl-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
/*
(\_/)
( •.•)
/ >footer
*/
.last {
	background: var(--Navyblue-color);
}
.last-logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	color: var(--Iris-color);
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.last-logo-studio {
	color: var(--mybtn-text-color);
}
.last-logo-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--cornflower-color);
}
/*
(\_/)
( •.•)
/ >portfolio
*/
.buttons {
	background: var(--mybtn-text-color);
	border: 1px solid var(--cornflower-color);
	cursor: pointer;
}
.buttons-text {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: var(--Iris-color);
}
/*
(\_/)
( •.•)
/ >img
*/
.statik {
}
.statik-img {
}
.statik-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: var(--Navyblue-color);
}
.statik-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
